{{ define "main" -}}
<h2 id="bio">About</h2>
{{ with .GetPage "/sections/aboutme.md" }}
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/cv.md" }}
<hr>
<h2 id="cv">CV</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/research.md" }}
<hr>
<h2 id="research">Research</h2>
{{ .Content }}

{{ $scratch := newScratch }}
{{ $scratch.Set "pubcnt" 0 }}

<h3 id="publications">Publications</h3>
{{ with .Site.Data.publications }}
{{ range . }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}
{{ end }}
{{ end }}
{{ end }}

<h3 id="working-papers">Working Papers</h3>
{{ with .Site.Data.working_papers }}
{{ range . }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}
{{ end }}
{{ end }}
{{ end }}

<h3 id="work-in-progress">Work in Progress</h3>
{{ with .Site.Data.work_in_progress }}
{{ range . }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{ with .GetPage "/sections/teaching.md" }}
<hr>
<h2 id="teaching">Teaching</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/contact.md" }}
<hr>
<h2 id="contact">Contact</h2>
{{ .Content }}
{{ end }}

{{ .Content }}
{{- end }}
