{{ define "main" -}}
<h2 id="bio">About</h2>
{{ with .GetPage "/sections/aboutme.md" }}
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/cv.md" }}
<hr>
<h2 id="cv">CV</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/research.md" }}
<hr>
<h2 id="research">Research</h2>
{{ .Content }}

{{ $scratch := newScratch }}
{{ $scratch.Set "pubcnt" 0 }}

{{ $pubCount := 0 }}
{{ range .Site.Data.publications }}{{ with .works }}{{ $pubCount = add $pubCount (len .) }}{{ end }}{{ end }}
{{ if gt $pubCount 0 }}
<h3 id="publications">Publications</h3>
{{ range .Site.Data.publications }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}
{{ end }}
{{ end }}
{{ end }}

{{ $wpCount := 0 }}
{{ range .Site.Data.working_papers }}{{ with .works }}{{ $wpCount = add $wpCount (len .) }}{{ end }}{{ end }}
{{ if gt $wpCount 0 }}
<h3 id="working-papers">Working Papers</h3>
{{ range .Site.Data.working_papers }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}
{{ end }}
{{ end }}
{{ end }}

{{ $wipCount := 0 }}
{{ range .Site.Data.work_in_progress }}{{ with .works }}{{ $wipCount = add $wipCount (len .) }}{{ end }}{{ end }}
{{ if gt $wipCount 0 }}
<h3 id="work-in-progress">Work in Progress</h3>
{{ range .Site.Data.work_in_progress }}
{{ range .works }}
{{ partial "publication.html" (dict "context" . "pid" ($scratch.Get "pubcnt")) }}
{{ $scratch.Add "pubcnt" 1 }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{ with .GetPage "/sections/teaching.md" }}
<hr>
<h2 id="teaching">Teaching</h2>
{{ .Content }}
{{ end }}

{{ with .GetPage "/sections/contact.md" }}
<hr>
<h2 id="contact">Contact</h2>
{{ .Content }}
{{ end }}

{{ .Content }}
{{- end }}
